* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
form {
    margin: 6vw;
    padding-left: 12vw;
    padding-right: 12vw;
}
input {
    margin-bottom: 0.8em;
}