* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
form {
    margin: 10vw;
    padding-left: 16vw;
    padding-right: 16vw;
}
input {
    margin-bottom: 0.8em;
}
